* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial;
}

.hero {

  background-image: linear-gradient(180deg, #2af59a79 0%, #009cfd70 100%), url("../img/main1.png");
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;

}

.cta {
  text-align: center;
  margin-bottom: 20px;
  display: block;
  width: 100px;
}

#btn_update {
  margin-bottom: 30px;
  display: block;
  width: 180px;
}

.textos-hero {

  height: 500px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.textos-hero h1 {
  font-size: 60px;
}

.textos-hero a {
  display: inline-block;
  text-decoration: none;
  padding: 12px 15px;
  background: #0092f3;
  border-radius: 10px;
  color: #fff;
}

.svg-hero {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.perfil i {
  font-size: 200px;
  color: #2af59a79
}

.perfil {
  width: 250px;
  height: 250px;
  background-color: #ececec;
  border-radius: 150px;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 0px 5px 1px #C0BEBE;
}

table {
  empty-cells: hide;
  width: 90%;
  position: relative;
  border: 2px solid #D8D8D8;
  border-radius: 50px;
}

table.hover {
  border-spacing: 10px
}

label.bookings {
  display: inline-block;
  box-shadow: none;
}

table.hover input[type=text],
input[type=password],
input[type=email],
input[type=number] {
  width: 90%;
  font-size: 18px;
  border: none;
  background-color: white;
}

th.info {
  padding: 0px;
  width: 80%;
  border-radius: 40px;
}

th.id_info {
  width: 5%;
  border-radius: 40px;
}

button.icon {
  color: #0092f3;
  background-color: white;
  width: 30px;
  border: 0;
  height: 30px;
  border-radius: 30px;
}

input[type="button"]:hover {
  cursor: pointer;
  background: #0092F3;
  color: #EEEEEE;
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  background-image: linear-gradient(180deg, #2af59ad3 0%, #009cfdc4 100%);
  padding: 12px 15px;
  border-radius: 10px;
  color: #fff;
}

.switchBtn {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switchBtn input {
  display: none;
}

.slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(243, 37, 37);
  -webkit-transition: .4s;
  transition: .4s;
  padding: 8px;
  border-radius: 20px;
  color: #fff;
}

.slide:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  left: 58px;
  bottom: 1.5px;
  border-radius: 20px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slide {
  background-color: #8CE196;
  padding-left: 40px;
}

input:focus+.slide {
  box-shadow: 0 0 1px #01aeed;
}

input:checked+.slide:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: -26px;
}